<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title></title>
    <link href="index.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div id="content">
      <h1>West Kingdom Ceremony Book</h1>
      <div class="image">
        <p>
          <img alt="Frederick of Holland - Photo taken by ER Bazor" src="cover.png"
          style="max-width:80%" />
        </p>
      </div>
      <div>
        <span>Photo: Frederick of Holland - Photo taken by ER Bazor</span>
      </div>
    </div>
  </body>
</html>